.header {
  width: 100%;
  display: flex;
  z-index: 99999;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6.5rem;
  background: #2c3e50;

  &__logo {
    //color: #34495e;
    color: #27ae60;
    text-shadow: 2px 2px #bdc3c7;
    font-size: 3rem;
    text-decoration: none;
  }

  &__left{
    display: flex;
  }

  &__logoSub{
    font-size: 1rem;
    color: #ecf0f1;
    align-self: flex-end;
    margin: 0 0 0.3rem 0.5rem;
  }
}
